sudo: false
dist: trusty
language: ruby
cache: bundler
bundler_args: --path ../../vendor/bundle --without debug
rvm:
- 2.3
- jruby
gemfile:
- spec/gemfiles/rails_5_0.gemfile
- spec/gemfiles/rails_5_1.gemfile
- spec/gemfiles/rails_5_2.gemfile
matrix:
  allow_failures:
  - rvm: jruby
    env: DB=sqlite3
env:
  matrix:
  # Username and password from http://docs.travis-ci.com/user/database-setup/
  - DB=sqlite3
  - DB=postgresql DB_USERNAME=postgres DB_PASSWORD=""
  - DB=mysql2 DB_USERNAME=root DB_PASSWORD=""
  global:
  - TRAVIS=1
  # codeclimate repo token
  - secure: "hbCYInnd/+2AEj/NgjBG3OA9E5zfsfwBnKtGEhccfEoSrP1AcrFOvbfxOatIrCUJTkKqQ9a3Tglnl5N/eOIAOBIaPW14hDxhuEj524YdKKc/HqRBTkN9xwcV1qAkh2DSDcDbdcpzuoJ7s8spQ/nP1Q47j7oHe58+nHpiLTBBgjo="
script:
- >
  if [[ "$(rvm current)" = "ruby-"* ]]; then
    export COVERAGE=1
  fi
- bundle exec rspec --force-color --format d
- >
  if [[ "$(rvm current)" = "ruby-"* ]]; then
    bundle exec rubocop
  fi
- >
  if [ ! -z "$COVERAGE" ]; then
    bundle exec codeclimate-test-reporter
  fi
